<mat-sidenav-container class="app-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" class="app-sidenav" disableClose>
    <mat-nav-list class="app-nav">
      <base href="/">
      <a mat-list-item *ngFor="let route of routes" class="app-nav-item" routerLink="{{route.path}}" (click)="sidenav.close()">
        <mat-icon *ngIf="route.icon" class="app-nav-icon">{{route.icon}}</mat-icon><span class="app-nav-title">{{route.title}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">{{title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
